{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "welcome"}} - {{i18n .Lang "app_intro"}}</title>
<link href="/static/css/login/styles.css" rel="stylesheet" type="text/css" />
<link href="/static/css/login/demo.css" rel="stylesheet" type="text/css" />
<link href="/static/css/login/loaders.css" rel="stylesheet" type="text/css" />
{{end}}
{{define "body"}}
<div class="container login_main_panel" style="width: 100%;margin: auto;">
    <div class='login' id="login_panel">
        <div class='login_title'>
            <span>PY登录</span>
        </div>
        <div class='login_fields'>
            <div class='login_fields__user'>
                <div class='icon'>
                    <img alt="" src='/static/img/login/user_icon_copy.png'>
                </div>
                <input id="login_name" name="login" placeholder='用户名' maxlength="16" type='text' autocomplete="off" value=""/>
                <div class='validation'>
                    <img alt="" src='/static/img/login/tick.png'>
                </div>
            </div>
            <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='/static/img/login/lock_icon_copy.png'>
                </div>
                <input id="login_pwd" name="pwd" placeholder='密码' maxlength="16" type='password' autocomplete="off">
                <div class='validation'>
                    <img alt="" src='/static/img/login/tick.png'>
                </div>
            </div>
            <div class='login_fields__submit' id="login_button">
                <input type='button' value='登录'>
            </div>
        </div>
        <div class='success'>
        </div>
        <div class='disclaimer'>
            <p>欢迎来到阿拉斯加~<span id="show_register" style="color: #2fa0ec;cursor: pointer;">我没号！</span></p>
        </div>
    </div>
    <div class='login' id="register_panel" style="display: none">
        <div class='login_title'>
            <span>暴风加入</span>
        </div>
        <div class='login_fields'>
            <div class='login_fields__user'>
                <div class='icon'>
                    <img alt="" src='/static/img/login/user_icon_copy.png'>
                </div>
                <input id="register_name" name="register_name" placeholder='用户名' maxlength="16" type='text' autocomplete="off" value=""/>
                <div class='validation'>
                    <img alt="" src='/static/img/login/tick.png'>
                </div>
            </div>
            <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='/static/img/login/lock_icon_copy.png'>
                </div>
                <input id="register_pwd" name="pwd" placeholder='密码' maxlength="16" type='password' autocomplete="off">
                <div class='validation'>
                    <img alt="" src='/static/img/login/tick.png'>
                </div>
            </div>
            <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='/static/img/login/lock_icon_copy.png'>
                </div>
                <input id="register_pwd2" name="pwd" placeholder='确认密码' maxlength="16" type='password' autocomplete="off">
                <div class='validation'>
                    <img alt="" src='/static/img/login/tick.png'>
                </div>
            </div>
            <div class='login_fields__submit' id="register_button">
                <input type='button' value='入场'>
            </div>
        </div>
        <div class='success'>
        </div>
        <div class='disclaimer'>
            <p>欢迎来到阿拉斯加~<span id="show_login" style="color: #2fa0ec;cursor: pointer;">我有号！</span></p>
        </div>
    </div>
</div>
<script type="application/javascript" src="/static/js/login/login.js"></script>
{{end}}