{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "websocket_chatroom"}} - {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "body"}}

<div class="container">
    <h3>{{i18n .Lang "username"}}: <span id="uname">{{.UserName}}</span></h3>
    <input type="hidden" id="user_id" value=""/>
    <input type="hidden" id="position" value=""/>
    <div id="your_turn" class="row your_turn" style="margin-top:10px;display:none">
        <h1>YOUR TURN</h1>
    </div>

    <div class="quantity row">
        <input id="add_point" type="number" min="0" max="999999" step="5" value="0">
        <div class="quantity-nav">
            <div class="quantity-button quantity-up">+</div>
            <div class="quantity-button quantity-down">-</div>
        </div>

        <button id="raise" type="button" class="button button-highlight button-circle button-jumbo">Raise</button>
        <button id="call" type="button" class="button button-highlight button-circle button-jumbo">Call</button>
        <button id="check" type="button" class="button button-caution button-circle button-jumbo">Check</button>
        <button id="fold" type="button" class="button button-action button-circle button-jumbo">Fold</button>
        <button id="allin" type="button" class="button button-primary button-circle button-jumbo">ALLIN</button>
    </div>
    <div class="row" style="margin-top:10px;">
        <button id="start_game" type="button" class="button button-royal button-pill button-large">{{i18n .Lang "start_button"}}</button>
        <button id="show_card3" type="button" class="button button-highlight button-pill button-large">show3</button>
        <button id="show_card4" type="button" class="button button-highlight button-pill button-large">show4</button>
        <button id="show_card5" type="button" class="button button-highlight button-pill button-large">show5</button>
    </div>

</div>
<div class="container">
    <h3>Public Card:</h3>
    <div class="container" id="public_card_table">
    </div>
</div>
<div class="container">
    <h3>{{i18n .Lang "card_table"}}:</h3>
    <div class="container" id="card_table">
        <div class="position" id="pos1">
            <div class="user_info">
                Name:<span class="user_name"></span><br/>
                Point:<span class="user_point"></span>
            </div>            
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos2">
            <div class="user_info">
                Name:<span class="user_name"></span><br/>
                Point:<span class="user_point"></span>
            </div>            
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos3">
            <div class="user_info">
                Name:<span class="user_name"></span><br/>
                Point:<span class="user_point"></span>
            </div>            
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos4">
            <div class="user_info">
                Name:<span class="user_name"></span><br/>
                Point:<span class="user_point"></span>
            </div>            
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos5">
            <div class="user_info">
                Name:<span class="user_name"></span><br/>
                Point:<span class="user_point"></span>
            </div>            
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos6">
            <div class="user_info">
                Name:<span class="user_name"></span><br/>
                Point:<span class="user_point"></span>
            </div>            
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos7">
            <div class="user_info">
                Name:<span class="user_name"></span><br/>
                Point:<span class="user_point"></span>
            </div>            
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos8">
            <div class="user_info">
                Name:<span class="user_name"></span><br/>
                Point:<span class="user_point"></span>
            </div>            
            <div class="user_card"></div>
        </div>
    </div>
</div>
<div class="container">
    <h3>{{i18n .Lang "chat_history"}}:</h3>
    <ul id="chatbox">
        <li>{{i18n .Lang "welcome"}}</li>
    </ul>
</div>

<div id="RoundInfo" class="fix_div" style="left:0px">

</div>
<div id="UserOp" class="fix_div"  style="right:0px">

</div>
{{end}}