{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "websocket_chatroom"}} - {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "body"}}

<div class="container">
    <h3>{{i18n .Lang "username"}}: <span id="uname">{{.UserName}}</span></h3>
    <button id="sendbtn" type="button" class="btn btn-default">{{i18n .Lang "Send"}}</button>
    <h4>{{i18n .Lang "send_box"}}:</h4>
    <form class="form-inline">
        <div class="col-md-6 form-group">
            <input id="sendbox" type="text" class="form-control" onkeydown="if(event.keyCode==13)return false;" required>
        </div>
        <button id="sendbtn" type="button" class="btn btn-default">{{i18n .Lang "Send"}}</button>
    </form>

    <button id="start_game" type="button" class="button button-royal button-pill button-large">{{i18n .Lang "start_button"}}</button>
    <button id="show_card3" type="button" class="button button-highlight button-pill button-large">show3</button>
    <button id="show_card4" type="button" class="button button-highlight button-pill button-large">show4</button>
    <button id="show_card5" type="button" class="button button-highlight button-pill button-large">show5</button>

</div>
<div class="container">
    <h3>Public Card:</h3>
    <div class="container" id="public_card_table">
    </div>
</div>
<div class="container">
    <h3>{{i18n .Lang "card_table"}}:</h3>
    <div class="container" id="card_table">
        <div class="position" id="pos1">
            <span class="user_name"></span>
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos2">
        <span class="user_name"></span>
            <div class="user_card"></div>
            </div>
        <div class="position" id="pos3">
        <span class="user_name"></span>
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos4">
        <span class="user_name"></span>
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos5">
        <span class="user_name"></span>
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos6">
        <span class="user_name"></span>
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos7">
        <span class="user_name"></span>
            <div class="user_card"></div>
        </div>
        <div class="position" id="pos8">
        <span class="user_name"></span>
            <div class="user_card"></div>
        </div>
    </div>
</div>
<div class="container">
    <h3>{{i18n .Lang "chat_history"}}:</h3>
    <ul id="chatbox">
        <li>{{i18n .Lang "welcome"}}</li>
    </ul>
</div>
{{end}}