.container{
  position: relative;
}
.container .position{
    position: relative;
    display: inline-grid;
    width: 200px;
    height: 200px;
    padding-left: 10px;
}

.user_info{
    display: inline-block;
}
.container .position#pos1{
    background-color: aliceblue;
}

.container .position#pos2{
    background-color: antiquewhite;
}

.container .position#pos3{
    background-color: aqua;
}

.container .position#pos4{
    background-color: coral;
}

.container .position#pos5{
    background-color: cadetblue;
}

.container .position#pos6{
    background-color: rosybrown;
}

.container .position#pos7{
    background-color: palegreen;
}

.container .position#pos8{
    background-color: lightcoral;
}

.container .position#pos9{
    background-color: tomato;
}

.user_card{
    display: inline-block;
}
.quantity {
    position: relative;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]
  {
    -moz-appearance: textfield;
  }
  
  .quantity input {
    width: 200px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
  }
  
  .quantity input:focus {
    outline: 0;
  }
  
  .quantity-nav {
    float: left;
    position: relative;
    height: 42px;
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
  }

  .fix_div{
    position: absolute;
    z-index: 2;
    width: 355px;
    height: 800px;
    overflow: auto;
    text-align: left;
    top: 0px;
    margin: 22px;
    font-size: xx-large;
  }

  .cards {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}

.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 25%;

    padding-left: 8px;
    padding-right: 8px;
    font-size: x-large;
}

.container .pos_number{
  position: absolute;
  top: 0;
  right: 0;
  font-size: x-large;
    font-family: auto;
    margin-right: 5px;
}

.user_point{
  color: mediumblue;
}

.container__status{
  background-color: rgb(30, 255, 0);
  border-radius: 9999px;
  height: 8px;
  width: 8px;
  margin-right: 3px;
  margin-bottom: 4px;
  display: inline-block;
}

.container__status_not_onlie{
  background-color: rgb(255, 0, 0);
}