{{template "base/base.html" .}}
{{define "head"}}
<title>BUG 丢场</title>
{{end}}
{{define "body"}}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                你见过BUG这么多的网站吗
            </h3> <a href="/room/add" target="_blank" ><button type="button" class="btn btn-default">建房间！</button></a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        房间号
                    </th>
                    <th>
                        房间名
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th>
                        建房的傻狗
                    </th>
                    <th>
                        啥情况
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        天圆地方阁
                    </td>
                    <td>
                        明天
                    </td>
                    <td>
                        不是我
                    </td>
                    <td>
                        打的火热
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        2
                    </td>
                    <td>
                        天人一线
                    </td>
                    <td>
                        明天正午
                    </td>
                    <td>
                        不是我
                    </td>
                    <td>
                        打的冰凉
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}