{{template "base/base.html" .}}
{{define "head"}}
<title>BUG 丢场</title>
{{end}}
{{define "body"}}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                你见过BUG这么多的网站吗
            </h3> <a href="/room/add" target="_blank" ><button type="button" class="btn btn-default">建房间！</button></a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        房间号
                    </th>
                    <th>
                        房间名
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th>
                        建房的傻狗
                    </th>
                    <th>
                        啥情况
                    </th>
                    <th>
                        看不顺眼
                    </th>
                </tr>
                </thead>
                <tbody>
                {{range .RoomList}}
                <tr>
                    <td>
                        {{.Id}}
                    </td>
                    <td>
                        {{.RoomName}}
                    </td>
                    <td>
                        明天
                    </td>
                    <td>
                        {{.CreateUserId}}
                    </td>
                    <td>
                        <a href="/room/entry/{{.Id}}">进！</a>
                    </td>
                    <td>
                        <button class="button active button-action ajax-click" data-id={{.Id}}>爬！</button>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".ajax-click").on("click",function () {
            let a_room_id = $(this).attr("data-id")
            $.ajax({
                url: "/room/close/"+a_room_id,
                method: "post",
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    let code = res.code;
                    if (code === 0) {
                        alert("Yeah!");
                        location.reload()
                    } else {
                        alert("No!");
                    }
                }
            });
        });
    })
</script>
{{end}}